@font-face {
  font-family: "Tazugane Gothic";
  src: url("/src/assets/fonts/Tazugane Gothic StdN Medium.otf")
    format("opentype");
  font-weight: normal;
}

* {
  font-family: "Tazugane Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
}
@layer base {
  .text-headline {
    font-size: var(--text-headline);
    line-height: var(--leading-headline);
  }
  .text-headline2 {
    font-size: var(--text-headline2);
    line-height: var(--leading-headline2);
  }
  .text-headline3 {
    font-size: var(--text-headline3);
    line-height: var(--leading-headline3);
  }
  .text-body {
    font-size: var(--text-body);
    line-height: var(--leading-body);
  }
  .text-body2 {
    font-size: var(--text-body2);
    line-height: var(--leading-body2);
  }
  .text-caption {
    font-size: var(--text-caption);
    line-height: var(--leading-caption);
  }
  .text-caption2 {
    font-size: var(--text-caption2);
    line-height: var(--leading-caption2);
  }
}
@theme {
  --color-gray-800: #3a3a3a;
  --text-headline: 32px;
  --leading-headline: 36px;
  --text-headline2: 24px;
  --leading-headline2: 32px;
  --text-headline3: 20px;
  --leading-headline3: 24px;
  --text-body: 16px;
  --leading-body: 28px;
  --text-body2: 14px;
  --leading-body2: 24px;
  --text-caption: 12px;
  --leading-caption: 20px;
  --text-caption2: 9px;
  --leading-caption2: 12px;

  /* Neutral Palette */
  --color-white: #ffffff;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #eeeeee;
  --color-neutral-300: #cecece;
  --color-neutral-400: #aeaeae;
  --color-neutral-500: #8f8f8f;
  --color-neutral-600: #717171;
  --color-neutral-700: #555555;
  --color-neutral-800: #3a3a3a;
  --color-neutral-900: #222222;

  /* Accent Palette */
  --color-accent-100: #e2f0ff;
  --color-accent-300: #89c3ff;
  --color-accent-500: #0092f9;
  --color-accent-700: #0065b0;
  --color-accent-900: #003c6b;

  /* Healthy Palette */
  --color-healthy-100: #c5ffd8;
  --color-healthy-300: #4df097;
  --color-healthy-500: #00bd6c;
  --color-healthy-700: #00884d;
  --color-healthy-900: #00572f;

  /* Caution Palette */
  --color-caution-100: #ffebd5;
  --color-caution-300: #ffc075;
  --color-caution-500: #ee9800;
  --color-caution-700: #b17000;
  --color-caution-900: #774a00;

  /* Danger Palette */
  --color-danger-100: #ffe9e3;
  --color-danger-300: #ffa28a;
  --color-danger-500: #fb4200;
  --color-danger-700: #b12b00;
  --color-danger-900: #6c1700;

  /* Disease Palette */
  --color-disease-100: #eeecff;
  --color-disease-300: #ad9eff;
  --color-disease-500: #7a34ff;
  --color-disease-700: #5600c1;
  --color-disease-900: #34007a;
}
